<div class="centerDiv">
  <h2 class="text-2xl font-thin has-text-align">註冊帳號</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email,'信箱', class:'label' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'input' %>
    </div>

    <div class="field">
      <%= f.label :password ,'密碼', class:'label'%>
      <% if @minimum_password_length %>
      <em class="is-blue">(至少需要<%= @minimum_password_length %>個字元)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password",class:'input' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, '密碼確認', class:'label' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password",class:'input' %>
    </div>

    <div class="actions mt-4">
      <%= f.submit "註冊", class: 'regis-button' %>
    </div>
  <% end %>
  <div class="align-right">
    <%= render "devise/shared/links" %>
  </div>

</div>

